{{define "content"}}
    <div class="mainContainer">
        <div class="mainTitle">
            Yo 😌
        </div>

        <div class="initalPrimer">
            My name is Farza. I <span style="color: #008070;">write software and build businesses</span>.
        </div>

        <div class="subSection">
            <img class="me" src="https://media.giphy.com/media/h81JyVKGpO9MSRJlGo/giphy.gif"/>
        </div>

        <div class="subSection">
            To read more about my past, click <a href="/past">here</a>.
        </div>

        <div class="subSection">
            I write a <span style="color: #008070;">personal newsletter</span>
            every Sunday that summarizes what I did that particular week. It's a
            way for me to share my learnings/problems while on the startup journey.
            I keep it spicy, so def sign up.
        </div>

        <div class="substackContainer">
            <iframe width="100%" height="200" src="https://farza.substack.com/embed" frameborder="0" scrolling="no"></iframe>
        </div>

        <div class="subSection">
            <div>twitter: <a href="https://twitter.com/farzatv">@farzatv</a></div>
            <div>email: farzadoesstuff [at] gmail [dot] com</div>
        </div>

        <div class="subSection">
            <span class="smallText">rip lil peep</span>
        </div>
    </div>
{{end}}