{{define "content"}}
    <div class="mainContainer">
        <div class="mainTitle">
            Yo 😌
        </div>

        <div class="initalPrimer">
            My name is Farza :)! <span style="color: #008070;">I build things</span> usually in the form of software. To quickly summarize, in the past I've:
            <ul>
                <li>worked as the CTO of a gaming startup where I got to start a codebase from zero, interview + hire a full-time engineering team, and launch multiple products to 1000s of users.</a>
                <li>built + scaled an extremely popular third-party gaming app myself which reached 500,000 users and was upvoted 19,000 times on Reddit.</li>
                <li>built a Docker based, GPU backed real-time computer vision pipeline that aggregated data from video streams using neural nets I trained on training data that was artificially generated using these really cool scripts I wrote.</li>
                <li>created + got paying customers for an augmented reality iOS app that allowed users to see photo-realistic models of a restaurant's food in AR.</li>
                <li>worked as a researcher on end-to-end deep learning for self-driving cars and built the first model of its kinds that utilized saliency prediction, object detection, and multi-task learning.</li>
                <li>...and more!</li>
            </ul> 
        </div>

        <div class="subSection">
            To read more about my past, click <a href="/past">here</a>.
        </div>

        <div class="subSection">
            <img class="me" src="https://media.giphy.com/media/h81JyVKGpO9MSRJlGo/giphy.gif"/>
        </div>

        <div class="subSection">
            I write a <span style="color: #008070;">personal newsletter</span>
            every Sunday that summarizes what I did that particular week. It's a
            way for me to share my learnings/problems while on the startup journey.
            I keep it spicy, so def sign up.
        </div>

        <div class="substackContainer">
            <iframe width="100%" height="200" src="https://farza.substack.com/embed" frameborder="0" scrolling="no"></iframe>
        </div>

        <div class="subSection">
            <div>twitter: <a href="https://twitter.com/farzatv">@farzatv</a></div>
            <div>email: farzadoesstuff [at] gmail [dot] com</div>
        </div>

        <div class="subSection">
            <span class="smallText">rip lil peep</span>
        </div>
    </div>
{{end}}