.body {
    background-color: white;
}
.mainContainer {
    font-family: Open Sans,sans-serif;
    margin: 30px 30px;
}
@media screen and (min-device-width: 600px) {
    .mainContainer {
      max-width: 500px;
      margin: 60px 80px;
    }
}

.initalPrimer {
    margin-top: 31px;
    font-size: 17px;
    font-weight: 100;
}

.jobTitle {
    font-size: 20px;
    color: #008070;
}

.mainTitle {
    font-size: 35px;
    font-weight: 300;
}
.logTitle {
    margin-left: 5px;
    font-size: 35px;
    font-weight: 300;
}

.subSection {
    font-size: 17px;
    font-weight: 100;
    margin-top: 42px;
}

.subParagraph {
    font-size: 17px;
    font-weight: 100;
    margin-top: 16px;
}

.me {
    width: 240px;
    height: auto;
}

.substackContainer {
    margin-top: 42px;
    width: 100%;
}


.smallText {
    font-style: italic;
}

li {
    padding-top: 10px;
}



.table {
    display: flex;
    flex-direction: column;
}

.entry  {
    display: flex;
    font-size: 15px;
    font-weight: 100;
    flex-direction: column;
    padding: 10 10 10 0;
    border-radius: 3px;
}

.entry:first-child{
    margin-top: 25px;
}


.time {
    color: #525252;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    margin-right: 5px;
    width: 64px;
    text-align: center;
}

.debugTag {
    border-radius: 4px;
    padding: 3px;
    background-color: #d4d4d4;
}

.infoTag {
    border-radius: 4px;
    padding: 3px;
    background-color: #caeeff;
}

.warnTag {
    border-radius: 4px;
    padding: 3px;
    background-color: #fff6a9;
}

.errorTag {
    border-radius: 4px;
    padding: 3px;
    background-color: #ffc3bf;
}

.fatalTag {
    border-radius: 4px;
    padding: 3px;
    background-color: #ff1313;
}

.mainLoggingContainer {
    font-family: Open Sans,sans-serif;
    margin: 30px 30px;
}

.title {
    margin-right: 10px;
}

.entryDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.logNumber {
    font-weight: 800;
}

.subtitle {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 100;
}