{{define "content"}}
    <div class="mainContainer">
        <div class="mainTitle">
            2020
        </div>

        <div class="subParagraph">
          Hey, it's 2020!
        </div>

        <div class="subParagraph">
          While I accomplished more in 2019 than in any other year of my existence, I still feel like I could have done things smarter, better, and faster. But, I'm generally happy with all the cool shit I did in 2019. Becoming the CTO of a company backed by millions of dollars and hiring a team to build a dope product from nothing was an experience I benefitted greatly from in a short time-frame.
        </div>

        <div class="subParagraph">
          I plan on doing a lot in life. Technology is literally just the beginning. I want to be do huge things in everything from film to medicine to music.
        </div>

        <div class="subParagraph">
          But, success takes time. That's why I'm playing the long game and sustainably learning as much as I can every single week (the key word here is sustainably). My only fear at this point is dying early because if I die right now there will be no one to pursue my mission.
        </div>

        <div class="subParagraph">
          Anyways, here are the goals:
        </div>
        <div class="subSection">
          <div class="subParagraph">
            <b>1.</b> $120,000 in annual recurring revenue.
          </div>
          <div class="subParagraph">
            I like making stuff. A good signal for understanding if you're making stuff people actually want is when you charge for it and they pay for it. $120,000 in ARR means 1000 customers being charged $10.00 a month. Very achievable. 
          </div>     
        </div>      
        <div class="subParagraph">
          <b>2.</b> Increase my personal audience.
        </div>      
        <div class="subParagraph">
          My weekly newsletter has gotten pretty big. I like this idea of amassing an audience based off of content I create. Creating quality, creative content is an intellectually healthy activity (imo) and building an audience of smart people who listen to you can unlock insane opportunities you thought were never possible.
        </div>      
        <div class="subParagraph">
          <b>3.</b> Tinker again.
        </div>               
        <div class="subParagraph">
          Learning by building random little "toy" projects has always been fun for me. YC has this motto, "build something people want". I think that's the best startup advice there is. But, sometimes, it can be healthy to hack on something on the weekends and "build something you want".
        </div>   

        <div class="subSection">
          Luckily, all three of these things I can actually measure! I can measure revenue, the size of my audience, and the # of interesting projects I create over the course of the year. I'll keep y'all posted.
        </div>

        <div class="subSection">
          <img src="/static/headers/stupid-gif-1.gif">
        </div>
    </div>
{{end}}