{{define "layout"}}
<html>
<head>
    <title>Farza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" filename="/static/headers/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/headers/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/headers/favicon-16x16.png">
    <link rel="manifest" href="/static/headers/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
{{template "content" .}}
</body>
</html>
{{end}}